<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册Controller-->
    <bean id="/test/register.do" class="com.powernode.controller.StudentController">
        <property name="service" ref="studentService"/>
    </bean>

</beans>