<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册处理器-->
    <!--
        这个路径出现在xml文件中，所以是后台路径，而后台路径的参照路径是：当前Web应用的根路径
        当前Web应用的根路径是：http://127.0.0.1:8080/09-request-path-4
        现在要求的绝对路径 = 参照路径 + 相对路径，即http://127.0.0.1:8080/09-request-path-4/test/hello.do
    -->
    <bean id="/test/hello.do" class="com.powernode.controller.MyController"/>

</beans>