<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--注册组件扫描器-->
    <context:component-scan base-package="com.powernode.controller"/>

    <!--注册类型转换器-->
    <bean id="myDataConverter" class="com.powernode.converter.MyDataConverter"/>

    <!--注册转换服务对象-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="myDataConverter"/>
    </bean>

    <!--注册MVC注解驱动-->
    <mvc:annotation-driven conversion-service="conversionService"/>

</beans>