<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册视图解析器1-->
    <bean class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="location" value="classpath:myViews.xml"/>
        <property name="order" value="3"/>
    </bean>

    <!--注册视图解析器2-->
    <bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename" value="myViews"/>
        <property name="order" value="1"/>
    </bean>

    <!--注册处理器-->
    <bean id="/hello.do" class="com.powernode.controller.MyController"/>

</beans>