<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册处理器映射器-->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <!--<property name="mappings">
            <props>
                <prop key="/hello.do">myController</prop>
                <prop key="/world.do">myController</prop>
            </props>
        </property>-->
        <property name="urlMap">
            <map>
                <entry key="/hello.do" value="myController"/>
                <entry key="/world.do" value="myController"/>
            </map>
        </property>
    </bean>

    <!--注册处理器-->
    <bean id="myController" class="com.powernode.controller.MyController"/>

</beans>